@font-face {
    font-family: "KGB";
    src: url("./Cafe24Ssurround.ttf")   format("truetype");
    font-weight: normal;
}


body{
    background-color: #ffffff;
}

p{
    color: #00ff37;
    font-family: "KGB";
    font-size: 12px;
}
